<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <script src="lib/VSS.SDK.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        // Initialize the VSS sdk
        VSS.init({
            usePlatformScripts: true,
            usePlatformStyles: true
        });

        // Wait for the SDK to be initialized
        VSS.ready(function () {
            VSS.require(["module/app"], function (app) { });
        });
    </script>

    <h1>TypeScript HTML App</h1>

    <div id="content"></div>
</body>
</html>
