<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>

<body>

    <div class="widget">
        <h2 class="title">
            </h1>
            <div id="query-info-container"></div>
    </div>


    <script src="../lib/VSS.SDK.js"></script>
    <script type="text/javascript">
        // Initialize the VSS sdk
        VSS.init({
            explicitNotifyLoaded: true,
            setupModuleLoader: true,
            usePlatformScripts: true,
            usePlatformStyles: true
        });

        // Wait for the SDK to be initialized
        VSS.ready(function () {
            VSS.require(["../dist/main"], function (app) { });

        });
    </script>
</body>

</html>